.form-group{
	margin-bottom: 25px;
	background-color: transparent;
}
.form-group label{
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	/*text-transform: uppercase;*/
	margin: 0 0 15px 0;
}
.form-group textarea{
	min-height: 50px;
	background-color: transparent;
	color: #000;
}
.form-group input{
	background-color: transparent;
	color: #000;
}
.form-control {
	border: 1px solid #DEDEDE;
	border-radius: 3px;
}
.form-control:focus {
    border-color: #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.naked{
	border-radius: 3px;
	background-color: transparent;	
	color: #FFF;
	border-color: #CCC;
}
.naked:hover, .naked:active, .naked:focus {
	color: #000;
	border-color: #777;
	background-color: transparent;	
}
#pr_email_show {
    display: none;
}


/*form styles*/
.mainform h1{
	font-size: 2em;
	text-align: center;
	width: 100%;
	color: #1565C0;
	border-bottom: 1px solid #1565C0;
	padding: 20px;
}
.mainform h3{
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	padding: 10px;
}
.mainform fieldset.form-control{
	margin-top: 40px;
	height: auto !important;
}	
.mainform fieldset legend{
	width: auto;
	padding: 0 10px;
	margin-bottom: 20px;
	color: #1565C0;
}
.mainform input[type="radio"],
.mainform input[type="checkbox"] {
	position: relative;
	margin-left: 0em;
}
.mainform .form-group{
	margin-bottom: 20px;
}
.mainform #gregorianDateSelector label,
.mainform #hinduDateSelector label,{
	margin: 0 10px;
	font-style: italic;
}
.mainform #hinduDateSelector .more{
	margin: 10px 0;
	text-align: right;
}
.mainform #hinduDateSelector .more i{
	color: #1565C0;
	cursor: pointer;
}
.mainform .date .form-control{
	border-radius: .25rem;
}
.mainform input[type="submit"] {
	cursor: pointer;
}
.hidden{
	display: none;
}
.mainform .success,
.mainform .index{
	padding: 50px;	
}
.mainform .success button,
.mainform .index button{
	cursor: pointer;
}
.mainform .index>div{
	text-align: center;
	padding: 20px;
}
.mainform .index>div a button{
	display: inline-block;
	border-radius: 0;
	padding: 50px 0;
	width: 100%;
	font-size: 1.5em;
}

#loader-icon {
	position: fixed;
	bottom: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	text-align: center;
	line-height: 40px;
	display:none;
}
.date-delimiter th{
	margin-top: 40px;
	text-align: center;
	background-color: #dc3545;
	color: #FFF;
	/*border-bottom: 2px solid #dc3545;*/
}

.red{
	color : #dc3545;
}

/*Form validations*/
.form-control:focus{
	box-shadow: none;
}
input[type="text"].validate,
input[type="number"].validate,
textarea.validate,
select.validate{
	outline: none;
}
input[type="text"].validate:invalid,
input[type="number"].validate:invalid,
textarea.validate:invalid,
select.validate:invalid{
	border: 1px solid #dc3545;
}
input[type="text"].validate:valid,
input[type="number"].validate:valid,
textarea.validate:valid,
select.validate:valid{
	border: 1px solid #28a745;
}
small.form-text{
	/*display: none;*/
}



.subField{
	margin-bottom: 15px;
}
#profile-avatar-button{
	width: 100px;
	padding-left: 0px;
	border: none;
}
.profile-avatar{
	height: 200px;
}

.mainform .form-label-group {
    position: relative;
    margin-bottom: 28px;
}

.mainform .form-label-group input {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 0px 0 10px 6px;
	height: 100%;
	line-height: 18px;
}

.mainform .form-label-group > label {
    position: absolute;
    top: 0;
    left: 6px;
    display: block;
    width: 90%;
    margin-bottom: 0;
 /* Override default `<label>` margin */
	line-height: 18px;
    color: #999;
    transition: all .1s ease-in-out;
    cursor: text;
}

.mainform .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.mainform .form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.mainform .form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.mainform .form-label-group input::-moz-placeholder {
    color: transparent;
}

.mainform .form-label-group input::placeholder {
    color: transparent;
}

.mainform .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
    top: -20px;
    background-color: #FFF;
    max-width: 30%;
}
.mainform .search{
	width: 50%;
	margin: 0 auto;	
}